<div id="modalCreate" class="modal fade" role="dialog" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="OpenDialog" class="modal-body" style="background-image:url(../background.jpg); color:white">
            </div>
        </div>
    </div>
</div>