@model LenaQuest.ViewModels.EditUserViewModel

@{
    ViewBag.Title = "Редактирование пользователя";
}
    <form asp-action="Edit" asp-controller="Users">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Age" class="control-label">Age</label>
            <input type="number" asp-for="Age" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label">FirstName</label>
            <input type="text" asp-for="FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="SecondName" class="control-label">SecondName</label>
            <input type="text" asp-for="SecondName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="City" class="control-label">City</label>
            <input type="text" asp-for="City" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="QuestExpirience" class="control-label">QuestExpirience</label>
            <input type="number" asp-for="QuestExpirience" class="form-control" />
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("admin"))
            {
                <div class="form-group">
                    <label asp-for="QuestDetails" class="control-label">QuestDetails</label>
                    <input type="text" asp-for="QuestDetails" class="form-control" />
                </div>
            }
        }

        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </form>