@model LenaQuest.ViewModels.UserSelectionViewModel

<h2>Users</h2>

<form asp-action="SendRequest" method="post">
    <table class="table">
        <tr>
            <th>Email</th>
            <th>FirstName</th>
            <th>SecondName</th>
            <th>Age</th>
            <th>City</th>
            <th>QuestExpirience</th>
            <th>Choose user</th>
            @*<th>Remove user</th>*@
        </tr>

        @Html.EditorFor(model => model.Users)
    </table>
    <button type="submit" class="btn btn-sm btn-danger">
        Send details
    </button>
</form>