@{
    ViewData["Title"] = "AboutUs Page";
}

<div class="text-center">
    <p>
        Прежде, чем создать что-то новое мы обошли множество квестов в разных странах, разных
        жанров, разных уровней и направлений.
        Мы провели множество социальных опросов и узнали, чего не хватает любителям квестов и что
        хотелось бы попробовать.

        На основании результатов мы придумали 10 сценариев и множество развитий событий, после
        каждого действия. Ты полностью погрузишься в игру, будто попадешь в новую реальность.
        После прохождения, ты встретишься с нами, организаторами, и сможешь стать частью команды и
        помочь нам стать лучше!
        Мы создали все условия для твоего классного отдыха, стоит только начать, и ты уже не сможешь
        остановиться!

        Удачи и до встречи!
    </p>
</div>
