<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Обо мне</h4>
</div>
<div class="modal-body">
    <dl class="row">
        <dt class="col-sm-4">
            <label class="control-label h5">ФИО</label>
        </dt>
        <dd class="col-sm-8">
            <label class="control-label h5">Кулик Елена Александровна</label>
        </dd>
        <dt class="col-sm-4">
            <label class="control-label h5">Университет</label>
        </dt>
        <dd class="col-sm-8">
            <label class="control-label h5">Одесский государственный экологический университет</label>
        </dd>
        <dt class="col-sm-4">
            <label class="control-label h5">Специальность</label>
        </dt>
        <dd class="col-sm-8">
            <label class="control-label h5">122 Компьютерные науки</label>
        </dd>
        <dt class="col-sm-4">
            <label class="control-label h5">Группа</label>
        </dt>
        <dd class="col-sm-8">
            <label class="control-label h5">К-45</label>
        </dd>
        <dt class="col-sm-4">
            <label class="control-label h5">Курс</label>
        </dt>
        <dd class="col-sm-8">
            <label class="control-label h5">IV</label>
        </dd>
    </dl>
</div>