<div class="row-fluid">
    <img src="~/Photos/1.jpeg" class="img-thumbnail" width="200" />
    <img src="~/Photos/2.jpg" class="img-thumbnail" width="200" />
    <img src="~/Photos/3.jpg" class="img-thumbnail" width="200" />
    <img src="~/Photos/4.jpg" class="img-thumbnail" width="200" />
    <img src="~/Photos/5.jpg" class="img-thumbnail" width="200" />
</div>
