@{
    ViewData["Title"] = "History Page";
}

<div class="text-center">
    <p>
        Я – та самая комната, которая выберет тебя и можешь поверить мне на слово, я знаю как тебя
        удивить.
        Во всех комнатах, в которых ты был, тебе давался час и загадки на логику, ты был ограничен
        стенами и возможностями, но то, что предложу тебе я полностью противоположно.
        Ты будешь думать каждым сантиметром тела и каждым уголком подсознания! Тебе придется
        быстро найти общий язык с членами команды и научиться работать сообща!
        Ты узнаешь, на что способен абсолютно с другой стороны.
    </p>
</div>