@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в мир абсолютно новых загадок и приключений!</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <partial name="Gallery" />
    <p>
        Ты обожаешь квесты, загадки и не теряешь голову в сложных ситуациях? Тогда мы это то, что тебе нужно!
        Мы предлагаем тебе инновацию в области экстремального отдыха! Бродячая квест комната без физического адреса , которая сама выберет тебя!
        Ты узнаешь все подробности только тогда, когда приедешь на место сбора с абсолютно незнакомыми людьми , но всех  вас будет объединять одно: ЖЕЛАНИЕ ВЫБРАТЬСЯ!

        Если ты был уже во многих комнатах и думаешь , что тебя нечем удивить, проходи регистрацию и кто знает, может в этот раз комната выберет тебя!
    </p>
</div>
